/* @font-face {
    font-family: 'Source Han Sans CN Light';
    src: url('extras/Source Han Sans CN Light.otf') format('opentype');
} */
@font-face {
  font-family: "BabelStone Han";
  src: url("/fonts/BabelStoneHan.woff2") format("woff2"),
       url("/fonts/BabelStoneHan.woff") format("woff");
  unicode-range: U+20000-2FFFF; /* limit to SIP range if you want */
}
body {
    margin: 0; padding: 0;
    background-color: #393939;
    color: gray;
    /* font-family: "Source Han Sans CN Light"; */
    font-family: "BabelStone Han", sans-serif;
}

#mascara { 
    /* float: right; */
    position: absolute;
    left: 512px;
    z-index: 10;
    opacity: .9;
}

#cuento { color: gray; 
    font-size: 20px;
    border: 1px solid darkslategrey;
    max-width: 100%;
    height: 75px;
    z-index: 5;
}
.claves {max-width: 1rem;}
#union {max-width: 4rem;}

a { text-decoration: none; color: yellow;}

table {text-align: center;
    table-layout: fixed;
    max-width: 512px;
}
.trad {width: 6rem; text-align: center;}
.rads {width: 6rem; text-align: center;}

#principal {
        margin: 0; padding: 0;
        width: 512px;
        height: 512px;
    }

/* Styles for mobile browsers */
@media (pointer:none), (pointer:coarse) { 
    #principal {
        margin: 0; padding: 0;
        width: 350px;
        height: 350px;
    }
    #cuento { 
        margin: 0; padding: 0;
        color: gray; 
        font-size: 14px;
        max-width: 355px;
        height: 60px;
    }
    #mascara { 
        position: static;
        float: right;
        z-index: 10;
        opacity: .9;
    }
}

.a { color: red; }
.b { color: limegreen;}
.c { color: blue;}
.e { color: black; font-weight: bold; }
.d { color: white; font-weight: bold; }
.f { color: fuchsia;}