body {background-color: #877373;
    color: #575757;
    font-family: Arial, Helvetica, sans-serif;
}

#clave {
    max-width: 3rem;
}

.a { color: #F54927; }
.b { color: #6CF527;}
.c { color: #27D3F5;}
.d { color: black; font-weight: bold; }
.e { color: white; font-weight: bold; }
.f { color: white; text-transform: uppercase; background-color: #393939;}